// MODULE SECTION STYLE START
@import "./module/confirm";
@import "./module/product";
@import "./module/container";
// MODULE SECTION STYLE END

// STATE SECTIONS STYLE
@import "./state/function";
@import "./state/mixins";
@import "./state/placeholder";
@import "./state/variables";
// STATE SECTIONS STYLE
// COMPONENTS SCSS
@import "./components/_button";
@import "./components/_widget";
// COMPONENTS SCSS

// THEME SECTION STYLE
@import "./theme/admin";
@import "./theme/theme";
// THEME SECTION STYLE
// BASE STYLE
@import "./base/animation";
@import "./base/resit";
@import "./base/typeography";
// BASE STYLE

//  LAYOUT SECTION SCSS
@import "./layout/header";
@import "./layout/main";
@import "./layout/sidebar";
@import "./layout/footer";
@import "./layout/grid";
//  LAYOUT SECTION SCSS

.text-btn {
  color: $btn-color;
  font-family: $poppins-fonts;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}
