$poppins-fonts: "Poppins";
$heading-text: #22343d;
$text-color: #252b42;
$primary-success: #02897a;
$primary-white: #ffffff;
$bg-color: #edfffc;
$second-text: #737373;
$br: 1px solid #dedede;
$br-input: 1px solid #bcd0e5;
$br-radius-4: 4px;
$br-radius-5: 5px;
$boxShadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
