.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 1280px) {
  .container__xxl {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1024.9px) {
  .container__xl {
    max-width: 964px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 768.9px) {
  .container__lg {
    max-width: 708px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 425.9px) {
  .container__md {
    max-width: 345px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 375.9px) {
  .container__sm {
    width: 100%;
  }
}

.btn {
  padding: 10px 23px 9px;
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}
.btn__light {
  outline: 1px solid rgba(224, 234, 232, 0.7450980392);
  border-radius: 4px;
}
.btn__light:hover {
  background-color: #173a56;
  color: rgba(224, 234, 232, 0.7450980392);
}
.btn__success {
  background-color: #02897a;
  border-radius: 4px;
  color: white !important;
  border: 3px solid #02897a !important;
}
.btn__success:hover {
  background-color: transparent;
  color: #02897a !important;
}
.btn__dark {
  background: transparent;
  border: none;
  font-size: 22px;
  -webkit-box-shadow: 1px 1px 1px 1px #bcd0e5;
          box-shadow: 1px 1px 1px 1px #bcd0e5;
  padding: 15px;
  border-radius: 4px;
  color: #02897a;
  cursor: pointer;
}
.btn__dark:focus {
  outline: 3px solid #02897a;
}

.btn__link {
  padding: 15px 42px;
  border-radius: 4px;
  background: #02897a;
  display: inline-block;
  text-decoration: none;
  font-family: "Poppins";
  color: white;
}
@media (max-width: 514.9px) {
  .btn__link .btn__link {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 1444px) {
  .btn__link__sm {
    padding: 12px 32px;
  }
  .btn__link__md {
    padding: 14px 32px;
  }
  .btn__link__lg {
    padding: 16px 32px;
  }
  .btn__link__xl {
    padding: 18px 32px;
  }
}

.dark body {
  background: #22343d;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
}

/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/fonts/poppins-v20-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/poppins-v20-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/poppins-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/poppins-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/poppins-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/poppins-v20-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/poppins-v20-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@media (min-width: 320px) and (max-width: 425px) {
  .site__header {
    height: 2033px;
  }
}
@media (min-width: 375px) and (max-width: 1024px) {
  .site__header {
    height: 1990px;
  }
  .site__header .hero {
    height: 800px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navigation {
  height: 80px;
  border-bottom: 1px solid #dedede;
}
.navigation .hamburger {
  display: none;
}
.navigation .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .navigation .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.navigation .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}
.navigation .navbar__list__item:not(:last-child) {
  margin-right: 25px;
}
.navigation .navbar__list__item__link {
  padding: 15px 20px;
  text-decoration: none;
  text-transform: capitalize;
  color: #22343d !important;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.navigation .navbar__list__item__link:hover {
  border-radius: 4px;
  background-color: #02897a;
  color: #dedede !important;
}
@media (max-width: 1100px) {
  .navigation .navbar__list {
    display: none;
  }
}
.navigation .navbar .btn__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.hero__menu {
  display: grid;
  padding-top: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.hero__menu__left {
  width: 600px;
}
.hero__menu .left__heading {
  max-width: 518px;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .hero__menu .left__heading {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
}
.hero__menu .left__paragriph {
  margin-bottom: 40px;
}
.hero__menu .left__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (min-width: 320px) and (max-width: 922px) {
  .hero__menu .left__main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hero__menu__right {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 1100px) {
  .btn__option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .btn__option .hamburger {
    display: block;
    padding: 15px;
    background: transparent;
    border: none;
    font-size: 22px;
    -webkit-box-shadow: 1px 1px 1px 1px #bcd0e5;
            box-shadow: 1px 1px 1px 1px #bcd0e5;
    padding: 15px;
    border-radius: 4px;
    color: #02897a;
    cursor: pointer;
  }
  .btn__option .hamburger:focus {
    outline: 3px solid #02897a;
  }
  .hero {
    width: 100%;
  }
  .hero__menu {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px;
  }
  .hero__menu__left {
    text-align: center;
    width: 100%;
    padding: 50px;
  }
}
@media (min-width: 320px) and (max-width: 1100px) and (max-width: 514.9px) {
  .hero__menu__left {
    padding: 10px;
  }
}
@media (min-width: 320px) and (max-width: 1100px) {
  .hero__menu__left .left__heading {
    color: #22343d;
    font-family: "Poppins";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 150% */
    margin-bottom: 18px;
  }
  .hero__menu__left .left__paragriph {
    color: #22343d;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 45px;
    line-height: 28px; /* 155.556% */
  }
  .hero__menu__right img {
    width: 100%;
    padding: 50px;
  }
}
.left__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media (max-width: 514.9px) {
  .left__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.left__main .text__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins";
  color: #02897a;
  padding: 10px;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  text-decoration: none;
  border-radius: 4px;
  gap: 3px;
}
.left__main .text__link:hover {
  background-color: #22343d;
  color: rgba(224, 234, 232, 0.7450980392);
}

.hero {
  height: 800px;
  margin-bottom: 70px;
}

.hero__menu {
  height: 100%;
}

.hero__main__bottom {
  height: 500px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(237, 237, 237, 0)), color-stop(99.63%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(237, 237, 237, 0), rgba(255, 255, 255, 0) 99.63%);
}
.hero__main__bottom .hero__bottom {
  padding: 20px;
  text-align: center;
  padding: 40px 0px;
}
.hero__main__bottom .hero__main {
  height: 100%;
}
.hero__main__bottom .hero__main-card {
  width: 240px;
  height: 178px;
  padding: 8px;
}
@media (max-width: 597px) {
  .hero__main__bottom .hero__main-card {
    width: 100%;
    border: 1px solid #e3e3e3;
    border-radius: 20px;
  }
}
.hero__main__bottom .hero__main-card .hero__card-main h4 {
  color: #22343d;
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}
.hero__main__bottom .hero__main-card .hero__card-main p {
  color: #22343d;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.hero__main__bottom .col-2 {
  width: 100%;
}

.site-main {
  width: 100%;
}
.site-main .site__left {
  width: 100%;
  height: 435px;
}
.site-main .site__left-strong {
  margin-bottom: 8px;
}
.site-main .site__left-heading {
  color: #22343d;
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 23px;
}
.site-main .site__left-paragriph {
  color: #22343d;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
}
.site-main .site__left .site__left__our {
  margin-bottom: 25px;
}
.site-main .site__left .site__left__our h5 {
  color: #22343d;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 15px; /* 162.5% */
}
.site-main .site__left .site__left__our p {
  color: #22343d;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
@media (min-width: 375px) and (max-width: 1024px) {
  .site-main .site__left {
    height: 600px;
    border: 2px solid #22343d;
    padding: 15px;
    border-radius: 22px;
  }
  .site-main .site__left-paragriph {
    max-width: 568px;
  }
  .site-main .site__left__our {
    border: 2px solid #22343d;
    border-radius: 18px;
    padding: 15px;
    text-align: left;
  }
}
.site-main .site__right {
  text-align: center;
  width: 100%;
  height: 200px;
}
.site-main .site__right .amigo-right {
  width: 100%;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .site-main .site__right {
    width: 100%;
  }
  .site-main .site__right .amigo-right {
    width: 100%;
  }
}

.row {
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
}
@media (min-width: 320px) and (max-width: 425px) {
  .row {
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .row {
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
}
.row .col-1 {
  grid-column: span 3;
}

.text-btn {
  color: #173a56;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}