.btn {
  padding: 10px 23px 9px;
  border: none;
  background-color: transparent;
  transition: all 0.9s;
  &__light {
    outline: 1px solid $bg-color;
    border-radius: $br-radius-4;
    &:hover {
      background-color: $btn-color;
      color: $bg-color;
    }
  }
  &__success {
    background-color: $primary-success;
    border-radius: $br-radius-4;
    color: white !important;
    border: 3px solid $primary-success !important;

    &:hover {
      background-color: transparent;
      color: $primary-success !important;
    }
  }
  &__dark {
    background: transparent;
    border: none;
    font-size: 22px;
    box-shadow: 1px 1px 1px 1px $bg-blur;
    padding: 15px;
    border-radius: $br-radius-4;
    color: $primary-success;
    cursor: pointer;
    &:focus {
      outline: 3px solid $primary-success;
    }
  }
}

.btn__link {
  padding: 15px 42px;
  border-radius: 4px;
  background: #02897a;
  display: inline-block;
  text-decoration: none;
  font-family: $poppins-fonts;
  color: white;
  @media (max-width: 514.9px) {
    .btn__link {
      width: 100%;
    }
  }
  @media (min-width: 320px) and (max-width: 1444px) {
    &__sm {
      padding: 12px 32px;
    }
    &__md {
      padding: 14px 32px;
    }
    &__lg {
      padding: 16px 32px;
    }
    &__xl {
      padding: 18px 32px;
    }
  }
}
